<article class="post-card featured" style="background-image: url({{feature_image}})">
    {{#primary_tag}}
    <a class="tag" href="{{url}}"><span>{{name}}</span></a>
    {{/primary_tag}}
    <a class="post-card-content__link" href="{{url}}">
      <header class="post-card__header">
        <h2 class="post-card-title">
          {{title}}
        </h2>
      </header>
      <section class="post-card__excerpt">
        <p> {{excerpt words="20"}} ... </p>
      </section>
    </a>
    <footer class="post-card__meta">
      {{#author}}
      <a href={{url}}>{{name}}</a>
      {{/author}}
    </footer>
</article>