<footer class="site-footer">
  <div class="site-footer__container container">
    <div class="site-footer__socials">
      <a href="{{@blog.url}}" class="logosmall">
        <img src="{{asset "logosmall.png"}}"/>
      </a>
      <section class="copyright">
        <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      </section>
      <nav class="socials">
        <a href="https://vk.com/public.cinemaholics">
          <img src="{{asset "icons/ico_vk.png"}}" />
        </a>
        <a href="http://twitter.com/cinemaholics_">
          <img src="{{asset "icons/ico_tw.png"}}" />
        </a>
        <a href="http://facebook.com/cinemaholics">
          <img src="{{asset "icons/ico_mord.png"}}" />
        </a>
        <a href="https://instagram.com/thecinemaholics">
          <img src="{{asset "icons/ico_inst.png"}}" />
        </a>
      </nav>
    </div>

    <nav class="site-footer__nav">
        <a href="/help/">Помощь</a>
        <a href="/about/">О сайте </a>
        <a href="/commercial-cinemaholics/">Рекламодателям </a>
        <a href="/rules-dont-apply/">Соглашения и правила</a>
        <a href="/you-gotta-work-bitch/">Вакансии </a>
        <!--<a href="/">Контакты</a>-->
    </nav>
  </div>
</footer>