<div id="navigation" class="header">
  <section class="header-container nav">
    <button type="button" class="menu-button">
      <div></div>
      <div></div>
      <div></div>
    </button>

    <a class="logo" href="{{@site.url}}">
      <img src="{{@site.logo}}" alt="{{@site.title}}" />
    </a>

    <div class="nav-inner">
      <div class="nav-menu menu">
        {{#foreach navigation}}
          <a href="{{url absolute='true'}}">{{label}}</a>
        {{/foreach}}
      </div>
      <div class="nav-socials">
        <a class="social-link" href="https://vk.com/public.cinemaholics" target="_blank" rel="noopener noreferrer">
          {{> "icons/vk" }}
        </a>
        <a class="social-link" href="http://twitter.com/cinemaholics_" target="_blank" rel="noopener noreferrer">
          {{> "icons/twitter" }}
        </a>
      </div>
    </div>

    <button type="button" class="search-init" aria-label="Search this site" data-ghost-search>
      {{> "icons/search"}}
    </button>
  </section>
</div>