<article class="post-card {{post_class}}">
  <a class="post-card__image" href="{{url}}">
    <img src="{{image}}" />
  </a>
  <div class="post-card__content">
    <a class="post-card-content__link" href="{{url}}">
      <h2 class="post-title">
        {{title}}
      </h2>
      <span class="text"> {{excerpt words="20"}} </span>
    </a>
  </div>
  <!--<div class="comme">21</div>-->
</article>