<article class="post-card post-card--sm {{post_class}}" style="background-image: url({{feature_image}}">
  <div class="post-card__content post-card-content">
    <a class="post-card-content__link" href="{{url}}">
      <header class="post-card__header">
        <h2 class="post-card-title">
          {{title}}
        </h2>
      </header>
      <section class="post-card__excerpt">
        {{!-- <p> {{excerpt words="20"}} ... </p> --}}
      </section>
    </a>
    {{^is "post"}}
    <footer class="post-card__meta">
      {{#author}}
        <a href={{url}}>{{name}}</a>
      {{/author}}
    </footer>
    {{/is}}
  </div>
  <!--<div class="comme">21</div>-->
</article>