<article class="block {{post_class}}">
  <a href="{{url}}">
    <div class="rela post__image">
      <img src="{{img_url feature_image}}" />

      <span class="type">
        {{#primary_tag}} 
          {{name}} 
        {{/primary_tag}}
      </span>
    </div>
    <h2 class="post-title">
      {{title}}
    </h2>
    <span class="text"> 
      {{excerpt words="20"}}... 
    </span>
  </a>
  <!--<div class="comme">21</div>-->
</article>