<aside class="commercial">
  {{#get "posts" filter="tags:commercial"}}
    {{#foreach posts limit="1"}}
      <a href="{{url}}">
        <img src="{{img_url feature_image size='m'}}" class="banner" />
      </a>
    {{/foreach}}
  {{/get}}

  {{#get "posts" filter="tags:incinemas"}}
    {{#foreach posts limit="1"}}
      <div class="poster">
        <article class="poster__content">
          <a href="{{url}}" class="poster__link">
            <figure class="poster__image">
              <img src="{{img_url feature_image size='m'}}">
            </figure>
            <h2 class="poster__title">{{title}}</h2>
          </a>
        </article>
      </div>
    {{/foreach}}
  {{/get}}
</aside>