<div class="sidebar2">
  <section class="news">
    {{#get "posts" include="tags" filter="primary_tag:newsblock"}}
      {{#foreach posts limit="6"}}
        <article class="post-card-small">
          {{#primary_tag}}
            <a href="{{slug}}" class="tag">{{name}}</a>
          {{/primary_tag}}
          <a href="{{url}}">
            {{title}}
            {{excerpt words="8"}}
          </a>
        </article>
      {{/foreach}}
    {{/get}}
    <a class="btn btn-sm" href="/tag/newsblock">
      Еще новости
    </a>
  </section>
  {{#get "posts" filter="tags:commercial"}}
    {{#foreach posts limit="1"}}
      <a href="{{url}}">
        <img src="{{feature_image}}" class="banner" alt="banner"/>
      </a>
    {{/foreach}}
  {{/get}}

  {{#get "posts" filter="tags:incinemas"}}
    {{#foreach posts limit="1"}}
      <div class="poster">
        <a href="{{url}}" class="poster__content">
          <figure>
            <img src="{{feature_image}}">
          </figure>
          <h2 class="js-titleContainer">{{title}}</h2>
          <h4 class="js-dateContainer"></h4>       
        </a>
      </div>
    {{/foreach}}
  {{/get}}
  {{#is tag}}
    {{> "news" }} 
  {{/is}}
  {{#is "post"}}
  <a class="twitter-timeline" data-height="600" href="https://twitter.com/Cinemaholics_?ref_src=twsrc%5Etfw">Tweets by Cinemaholics_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {{/is}}
  <!-- end .sidebar2 -->
</div>
