{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}
    <section class="author-block content">
        <figure class="author-block__image">
            <div class="image image--rounded">
                <img src="{{img_url}}" alt="">
            </div>
        </figure>
        <section class="author-block__info ">
            <h1>{{name}}</h1>
            {{#if bio}}
                <h2 class="author-block-bio">{{bio}}</h2>
            {{/if}}
            <span class="author-block-stats"> {{plural ../pagination.total empty='Нет постов' singular='% пост' plural='% постов'}}</span>
            <div class="author-block-socials">
                {{#if facebook}}
                    <span class="author-link ">
                        <a href="{{facebook_url}}">
                            <i class="icon-fb"></i>
                        </a>
                    </span>
                {{/if}}
                {{#if website}}
                    <span class="author-link">
                        <a href="{{website}}" >
                            <i class="icon-vk"></i>
                        </a>
                    </span>
                {{/if}}
                {{#if twitter}}
                    <span class="author-link">
                        <a href="{{twitter_url}}">
                            <i class="icon-twi"></i>
                        </a>
                    </span>
                {{/if}}
            </div>
        </section>
    </section>
{{/author}}
{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
