{{!< default}}

{{#author}}
  <section class="author-block content">
    {{#if profile_image}}<img src="{{img_url profile_image}}" alt={{name}}>{{/if}}

    <section class="author-block__info">
      {{#if website}}
        <a href="{{website}}" class="author-block__website">
      {{/if}}
      <h1>{{name}}</h1>
      {{#if website}}
        </a>
      {{/if}}

      {{#if bio}}
        <p>{{bio}}</p>
      {{/if}}

      <p>
        {{plural ../pagination.total empty='Нет постов' singular='% пост' plural='% постов'}}
      </p>

      <div class="author-block__socials">
        {{#if twitter}}
          <a class="social-link author-block__social-link" href="{{twitter_url}}">
            {{> "icons/twitter" }}
          </a>
        {{/if}}
      </div>
    </section>
  </section>
{{/author}}

<section id="content" class="content">
  {{> "loop"}}
</section>