<!DOCTYPE html>
<html>

<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" /> {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "/favicon.ico"}}"> {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "build/main.css"}}" />
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet'
    type='text/css'> {{!-- Ghost outputs important style and meta data with this tag --}} {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">
  <div class="whiteplank"></div>
  {{!-- The blog navigation links --}} {{navigation}}
  <div class="container">
    <div class="slider">
      <img class="js-mainImageContainer" src="{{@blog.cover_image}}" /> {{!--
      <button type="button" name="button" class="js-toggleBanner">
        Toggle
      </button>--}}
    </div>

    {{> "promo" }}
    {{#is "post, page"}}
    {{else}}
    {{> "news" }}
    {{/is}}
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}
  </div>
  {{!-- The tiny footer at the very bottom --}}
  <div class="footer">
    <div class="footer-inner container">
      <div class="footer-socials">
        <a href="{{@blog.url}}" class="logosmall">
          <img src="{{asset "logosmall.png"}}" />
        </a> {{@blog.title}} &copy;
        {{date format="YYYY"}}
        <div class="socials">
          <a href="https://vk.com/public.cinemaholics">
            <img src="{{asset "icons/ico_vk.png"}}" />
          </a>
          <a href="http://twitter.com/cinemaholics_"><img src="{{asset "icons/ico_tw.png"}}" /></a>
          <a href="http://facebook.com/cinemaholics"><img src="{{asset "icons/ico_mord.png"}}" /></a>
          <a href="https://instagram.com/thecinemaholics"><img src="{{asset "icons/ico_inst.png"}}" /></a>
        </div>
      </div>

      <div class="footer-links">
        <a href="/help/">Помощь</a>
        <a href="/about/">О сайте </a>
        <a href="/commercial-cinemaholics/">Рекламодателям </a>
        <a href="/rules-dont-apply/">Соглашения и правила</a>
        <a href="/you-gotta-work-bitch/">Вакансии </a>
        <a href="/contacts">Контакты</a>
      </div>
    </div>
  </div>

  {{#if pagination.pages}}
  <script>
    var maxPages = parseInt('{{pagination.pages}}');
  </script>
  {{/if}}

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  {{!-- Ghost outputs important scripts and data with this tag --}} {{ghost_foot}} {{!-- Fitvids makes video embeds responsive
  and awesome --}}
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  {{!-- The main JavaScript file for Casper --}}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
  <script type="text/javascript" src="{{asset "build/main.js"}}"></script>
</body>

</html>