<!DOCTYPE html>
<html>

<head>
  <title>{{meta_title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{asset 'build/source.css' }}" />
  {{!-- Ghost outputs important style and meta data with this tag --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  {{ghost_head}}
</head>

<body class="{{body_class}} bg-slate-50">
  {{navigation}}

  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{{body}}}

  {{!-- The tiny footer at the very bottom --}}
  {{> "components/footer"}}

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" defer src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
  {{!-- The main JavaScript file for Casper --}}
  <script type="text/javascript" defer src="{{asset 'js/lib/reframe.min.js'}}"></script>
  <script type="text/javascript" defer src="{{asset 'js/lib/imagesloaded.pkgd.min.js'}}"></script>
  <script type="text/javascript" defer src="{{asset 'build/source.js'}}"></script>
</body>

</html>