<!DOCTYPE html>
<html>

<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset '/favicon.ico'}}"> {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset 'build/source.css' }}" />
  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">
  <div class="whiteplank"></div>
  {{!-- The blog navigation links --}}
  {{navigation}}
  <div class="container">
    <div class="slider">
      <img src="{{@site.cover_image}}" />
    </div>

    {{> "promo" }}
    {{#is "post, page"}}
      {{else}}
        {{> "news" }}
    {{/is}}
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}
  </div>
  {{!-- The tiny footer at the very bottom --}}
  <div class="footer">
    <div class="footer-inner container">
      <div class="footer-socials">
        <a href="{{@site.url}}" class="logosmall">
          <img src="{{asset 'logosmall.png'}}" />
        </a> {{@site.title}} &copy;
        {{date format="YYYY"}}
        <div class="socials">
          <a href="https://vk.com/public.cinemaholics">
            <img src="{{asset 'icons/ico_vk.png'}}" />
          </a>
          <a href="http://twitter.com/cinemaholics_"><img src="{{asset 'icons/ico_tw.png'}}" /></a>
        </div>
      </div>

      <div class="footer-links">
        <a href="/help/">Помощь</a>
        <a href="/about/">О сайте </a>
        <a href="/commercial-cinemaholics/">Рекламодателям </a>
        <a href="/rules-dont-apply/">Соглашения и правила</a>
        <a href="/you-gotta-work-bitch/">Вакансии </a>
        <a href="/contacts">Контакты</a>
      </div>
    </div>
  </div>

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" defer src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
  {{!-- The main JavaScript file for Casper --}}
  <script type="text/javascript" defer src="{{asset 'js/lib/reframe.min.js'}}"></script>
  <script type="text/javascript" defer src="{{asset 'build/source.js'}}"></script>
</body>

</html>