<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{meta_title}}</title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{asset 'build/source.css'}}" />
  <script src="https://unpkg.com/reframe.js@latest/dist/reframe.min.js"></script>
  {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">
  {{navigation}}

  <div class="cover">
    <img src="{{@site.cover_image}}" alt="{{@site.description}}" />
  </div>

  <main class="container">
    <section class="main-container">
      {{{body}}}

      {{> "news" }}
    </section>
  </main>

  <footer class="footer site-footer">
    <div class="footer-inner container">
      <div class="footer-socials">
        <a href="{{@site.url}}" class="logosmall">
          <img src="{{asset 'logosmall.png'}}" />
        </a> {{@site.title}} &copy;
        {{date format="YYYY"}}
        <div class="socials">
          <a href="https://vk.com/public.cinemaholics" target="_blank" rel="noreferrer">
            {{> "icons/vk"}}
          </a>
          <a href="http://twitter.com/cinemaholics_" target="_blank" rel="noreferrer">
            {{> "icons/twitter" }}
          </a>
        </div>
      </div>

      <div class="footer-links">
        <a href="/help/">Помощь</a>
        <a href="/about/">О сайте </a>
        <a href="/commercial-cinemaholics/">Рекламодателям </a>
        <a href="/rules-dont-apply/">Соглашения и правила</a>
        <a href="/you-gotta-work-bitch/">Вакансии </a>
        <a href="/contacts">Контакты</a>
      </div>
    </div>
  </footer>

  {{ghost_foot}}
  <script type="text/javascript" defer src="{{asset 'build/source.js'}}"></script>
</body>

</html>