<!DOCTYPE html>
<html>

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" /> {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}"> {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "dist/main.css"}}" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'> {{!-- Ghost outputs important style and meta data with this tag --}} {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">
    {{!-- The blog navigation links --}} 
    {{navigation}}

    <main class="inner container">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}} 
        {{{body}}} 
        {{!-- The tiny footer at the very bottom --}}
        <aside class="sidebar">
            {{> "news" }} 
            {{> "promo" }} 
        </aside>
    </main>
    {{> "footer"}}
    <section class="search-overlay js-searchOverlay">
        <form id="search" class="search-overlay__form search-container js-searchContainer">
            <input type="search" name="search" class="search-container__input js-searchInput" placeholder="Искать...">
            <div class="search-container__results overlay">
                <ul class="search-results js-searchResults">
                </ul>
            </div>
            <div class="nothing">
                <heading>Мы ничего не нашли! Но вот отличные посты взамен.</heading>
                <div class="post-feed">
                    {{#get "posts" include="author, tags, excerpt" filter="featured:false"}}
                        {{#foreach posts limit="3"}}
                        <article class="post post-card block--search">
                            <div class="post-card__content post-card-content">
                                <a class="post-card-content__link" href="{{url}}">
                                    <header class="post-card__header">
                                        <h2 class="post-card-title">
                                            {{title}}
                                        </h2>
                                    </header>
                                
                                    <section class="post-card__excerpt">
                                        <p> {{excerpt words="20"}} </p>
                                    </section>
                                </a>
                                
                                <footer class="post-card__meta">
                                    {{#author}}
                                        <a href="{{url}}">{{name}}</a>
                                    {{/author}}
                                        <span>{{date format="Do MMMM"}}</span>
                                </footer>
        
                            </div>
                        </article>
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        <img class="search-container__loading js-loadingSpin" src="{{asset "icons/loading.gif"}}" />
        </form>
        <button type="button" class="search-overlay__close js-searchClose">
            <i class="icon-close"></i>
        </button>
    </section>
    <!-- end Search-->
        
    {{#if pagination.pages}}
    <script>
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    {{/if}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}} {{ghost_foot}} {{!-- Fitvids makes video embeds responsive
    and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "dist/main.js"}}"></script>
</body>

</html>
