{{!< default}}

{{#post}}
  <main class="content content--post">
    <section class="{{post_class}}">
      <div class="mateblock inside">
        <div class="block blockbig fullnew">
          <div class="rela post-header" style="background-image: url({{img_url feature_image}})">
            <div class="zatem">
              <h1 class="main-post-title">{{title}}</h1>

              <section class="author">
                <div class="text">
                  {{#foreach authors to="3"}}
                    <a href="{{url}}" class="author__url">{{name}}</a>,
                  {{/foreach}}
                  {{#has author="count:>3"}}
                    {{#foreach authors from="4"}}
                      <a href="{{url}}" class="author__url">{{name}}</a>,
                    {{/foreach}}
                  {{/has}}
                  <span class="post-date" datetime="{{date published_at timeago=" true" format="YYYY-MM-DD" }}">
                    {{date published_at format="DD MMMM YYYY"}}
                  </span>
                </div>
              </section>
            </div>

            <span class="type">
              <a href="{{primary_tag.url}}">
                {{primary_tag.name}}
              </a>
            </span>
          </div>

          <article class="fulltext gh-content">
            {{content}}
          </article>

          <section class="post-footer">
            <aside class="tags">
              <section class="tags-label">Теги:</section>
              <div class="tags-list">
                {{#foreach tags}}
                  <a href="{{url}}" class="tag">
                    {{name}}
                  </a>
                {{/foreach}}
              </div>
            </aside>
          </section>
        </div>
      </div>
    </section>
    <aside class="suggestions outer">
      <div class="read-next">
        <header class="read-next-title">Похожие cтатьи: </header>
        <div class="read-next-feed">
          {{#get "posts" include="tags" filter="tags:{{primary_tag.slug}}+id:-{{id}}+featured:false" limit="6"}}
            {{#foreach posts}}
              {{> "post-small" }}
            {{/foreach}}
          {{/get}}
        </div>
      </div>
    </aside>
  </main>
{{/post}}