{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <main class="content content--post">
    <section class="{{post_class}}">
        <div class="mateblock inside">
            <div class="block blockbig fullnew">
                <div class="rela post-header" style="background-image: url({{img_url feature_image}})">
                    <div class="zatem">
                        <h class="main-post-title">{{title}}</h>
                            <section class="author">
                                <div class="text">
                        {{#foreach authors}}
                                    <a href="{{url}}" class="author__url">{{name}}</a>,
                        {{/foreach}}
                                    <span class="post-date"
                                          datetime="{{date published_at timeago="true" format="YYYY-MM-DD"}}">{{date
                                            published_at format="DD MMMM YYYY"}}</span>
                                </div>
                            </section>
                    </div>

                    <div class="type">{{tags limit="1"}}</div>
                </div>
                <article class="fulltext">
                    {{content}}
                </article>
                <section class="post-footer">
                    <aside class="share">
                        <div class="share-label">
                            Поделиться: 
                        </div>
                        <div class="share-list">
                            <a class="" href="https://vk.com/share.php?url={{url absolute="true"}}"
                            onclick="window.open(this.href, 'share-vk','width=580,height=296');return false;">
                                Вконтакте
                            </a>
                            <a class="" href="https://t.me/share/url?url={{url absolute="true"}}&text={{encode title}}"
                            onclick="window.open(this.href, 'share-telegram', 'width=550,height=235');return false;">
                                Telegram
                            </a>
                            <a class="" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
                                Twitter
                            </a>
                            <a class="" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                                Facebook
                            </a>
                        </div>
                    </aside>

                    <aside class="tags">
                        <section class="tags-label">Теги:</section>
                        <div class="tags-list">
                        {{#foreach tags}}
                            <a href="{{url}}" class="tag">
                                {{name}}
                            </a>
                        {{/foreach}}
                        </div>
                    </aside>
                </section>
                
            </div>
        </div>
    </section>
    <aside class="suggestions outer">
        {{!-- 
            <div class="prev-next">
                {{#next_post}}
                <div class="prev">
                    <section class="prev-title">
                        Раньше:
                    </section>
                    {{> "post-card"}}
                </div>
                {{/next_post}}
                <div class="next">
                <section class="next-title">
                    Дальше:
                </section>
                {{#prev_post}}
                    {{> "post-card"}}
                {{/prev_post}}
                </div>
            </div>
        --}}
        <div class="read-next">
            <header class="read-next-title">Похожие cтатьи: </header>
            <div class="read-next-feed">
            {{#get "posts" include="tags, author" filter="tags:{{primary_tag.slug}}+id:-{{id}}+featured:false" limit="6"}}
                {{#foreach posts}}
                {{> "post-small" }}
                {{/foreach}}
            {{/get}}
            </div>
        </div>
    </aside>
    </main>
{{/post}}