{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<main class="content content--post" role="main">
<article class="{{post_class}}">
  <div class="mateblock inside">
    <div class="block blockbig fullnew">
      <section class="post-meta">
        {{#author}} 
          Автор: 
          <a class="post-meta-link" href="{{url}}" target="_blank">
            {{name}}
          </a>
        {{/author}}
        Опубликовано в: 
        <a class="post-meta-link post-meta-type" href="{{primary_tag.slug}}">
          {{primary_tag.name}}
        </a>
        {{date published_at format="DD-MMMM-YYYY"}}
        {{reading_time}}

        <h1 class="post-main-title">{{title}}</h1>

      </section>
      <img src="{{img_url feature_image}}" alt="{{title}}">
      <div class="fulltext">
        {{content}}
      </div>
    </div>
  </div>
</article>
{{!-- 
  We don't really need author here
  {{> "author-card" }} 
--}}

<aside class="share">
  <div class="share-label">
    Поделиться: 
  </div>
  <div class="share-list">
    <a class="" href="https://vk.com/share.php?url={{url absolute="true"}}"
       onclick="window.open(this.href, 'share-vk','width=580,height=296');return false;">
      Вконтакте
    </a>
    <a class="" href="https://t.me/share/url?url={{url absolute="true"}}&text={{encode title}}"
       onclick="window.open(this.href, 'share-telegram', 'width=550,height=235');return false;">
      Telegram
    </a>
    <a class="" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
       onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
      Twitter
    </a>
    <a class="" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
       onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
      Facebook
    </a>
  </div>
</aside>

<aside class="tags">
  <section class="tags-label">Теги:</section>
  <div class="tags-list">
  {{#foreach tags}}
    <a href="{{url}}" class="tag">
      {{name}}
    </a>
  {{/foreach}}
  </div>
</aside>

<aside class="suggestions outer">
  <div class="prev-next">
    {{#next_post}}
      <div class="prev">
          <section class="prev-title">
            Раньше:
          </section>
          {{> "post-small"}}
      </div>
    {{/next_post}}
    <div class="next">
      <section class="next-title">
        Дальше:
      </section>
      {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
      {{#prev_post}}
          {{> "post-small"}}
      {{/prev_post}}
    </div>
  </div>
  <div class="read-next">
    <header class="read-next-title">Похожие cтатьи: </header>
    <div class="read-next-feed">
      {{#get "posts" include="tags, author" filter="primary_tag:{{primary_tag.slug}}" limit="6"}}
        {{#foreach posts}}
          {{> "post-small" }}
        {{/foreach}}
      {{/get}}
    </div>
  </div>
  
</aside>
</main>
{{/post}}