{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * postFeedStyle (list, grid)
    * showTitle (true, false)
    * showSidebar (true, false)
--}}

<section class="mt-8 md:mt-16">
  <div class="max-w-5xl mx-auto">
    {{#if showTitle}}
      {{#unless title}}
        <header class="my-8 md:my-16 border-b border-slate-300 pb-2">
          <h1 class="text-2xl md:text-4xl font-bold font-sans uppercase">Последнее</h1>
        </header>
      {{else}}
        <h2 class="text-lg uppercase pb-1 mb-4 border-b border-slate-300">
          {{title}}
        </h2>
      {{/unless}}

    {{/if}}

    <main class="">
      <div class="site-feed grid md:grid-cols-[repeat(auto-fit,minmax(248px,1fr))] gap-10">
        {{!-- Homepage --}}
        {{#match feed "home"}}
          {{#match @custom.header_style "Highlight"}}
            {{#if @custom.show_featured_posts}}
              {{#match posts.length ">=" 4}}
                {{#get "posts" include="authors" limit="16"}}
                  {{#foreach posts from="2" limit="12"}}
                    {{> "post-card" lazyLoad=true}}
                  {{/foreach}}
                {{/get}}
              {{/match}}
            {{else}}
              {{#match posts.length ">=" 10}}
                {{#get "posts" include="authors" limit="22"}}
                  {{#foreach posts from="11" limit="12"}}
                    {{> "post-card" lazyLoad=true}}
                  {{/foreach}}
                {{/get}}
              {{/match}}
            {{/if}}
            {{else match @custom.header_style "Magazine"}}
              {{#match posts.length ">=" 7}}
                {{#get "posts" include="authors, tags" limit="19"}}
                  {{#foreach posts from="8" limit="12"}}
                    {{> "post-card" lazyLoad=true}}
                  {{/foreach}}
                {{/get}}
              {{/match}}
              {{else}}
                {{#get "posts" include="authors, tags" limit="12"}}
                  {{#foreach posts}}
                    {{> "post-card" lazyLoad=true}}
                  {{/foreach}}
                {{/get}}
          {{/match}}
        {{/match}}

        {{!-- All posts --}}
        {{#match feed "index"}}
          {{#match pagination.page 2}}
            {{#get "posts" include="authors" limit=@config.posts_per_page as |recent|}}
              {{#foreach recent}}
                {{> "post-card"}}
              {{/foreach}}
            {{/get}}
          {{/match}}
          {{#foreach posts}}
            {{> "post-card" lazyLoad=true}}
          {{/foreach}}
        {{/match}}

        {{!-- Tag and author pages --}}
        {{#match feed "archive"}}
          {{#foreach posts}}
            {{> "post-card" lazyLoad=true}}
          {{/foreach}}
        {{/match}}
      </div>
    </main>

    {{#match pagination.pages ">" 1}}
      <div class="text-xl underline hover:no-underline mt-8 inline-block">
        <a href="{{@site.url}}/page/2">Смотреть все &rarr;</a>
      </div>
    {{/match}}

  </div>
</section>